.featureBanner img {
  width: 100%;
}

.deal-item a img {
  width: 100%;
}
.deal-title img {
  width: 100%;
}
.deal-item-focue img {
  width: 100%;
}
.valantine-day-title img {
  width: 100%;
}
.valantine-day {
  background-color: bisque;
}
.valantine-day-store-item img {
  width: 100%;
}
.daily-offer-title img {
  width: 100%;
}
.daliy-offer-item img {
  width: 100%;
}
.daliy-offers {
  background-color: rgb(218, 225, 227);
}
.banner-img img {
  width: 100%;
}
.woman-fashion-banner img {
  width: 100%;
}
.woman-fashion {
  background-color: rgb(226, 227, 229);
}
.woman-man-item img {
  width: 100%;
}
.banner img {
  width: 100%;
}
.electronic-bannar img {
  width: 100%;
}
.electronic-item img {
  width: 100%;
}
.noon-bannar img {
  width: 100%;
}
.deal-item-title h6 {
  font-weight: 700;
}
.deal-item-title p {
  font-size: 12px;
  font-weight: 700;
}
.deal-section {
  background-color: aliceblue;
}
